// ====== index.scss ====== 
$pill-radius: 3px;
$pill-height: 20px;
$pill-min-width: 150px;
$text-color: #212121;
$link-color: #008CBA;
$link-hover-color: #125369;

html {
  height: 100%;
}

body{
  width:100%;
  height:100%;
  overflow: hidden;
  margin: 0;
  background-color: #eee;
  font-size: 12px;
  line-height: 18px;
}

a:hover, a:focus {
  color: $link-hover-color;
}
a:hover {
  cursor: pointer;
}

.clickable, .clickable.draggable {
  cursor: pointer;
}

.draggable {
  cursor: move;
}

.invisible {
  visibility: hidden;
}

a:active, a:hover {
  outline: 0;
}
a {
  color: $link-color;
  text-decoration: none;
  line-height: inherit;
}

.italic {
  font-style: italic;
}


a.command, div.command {
  margin-left: 10px;

  &.debug, .debug {
    color: #72a386;
  }

  &.disabled, &.disabled:hover, &[disabled=disabled], [disabled=disabled]:hover {
    cursor: not-allowed;
    color: #ccc;
  }
}

textarea {
  width: 100%;
}

.right {
  float:right;
}

.card {
  margin: 3px 3px 0 0;
  padding: 8px;
  background: white;
  border-style: none;
  &.margin-bottom {
    margin-bottom: 3px
  }
}

.no-right-margin {
  margin-right: 0;
}

.no-top-margin {
  margin-top:0;
}

.no-left-margin {
  margin-left: 0;
}

.no-bottom-margin {
  margin-bottom:0;
}

h1 {
  @extend .noselect;
  font-size: 24px;
  line-height:36px;
  font-weight: 700;
  margin: 0;
}

h2 {
  @extend .noselect;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 15px;
}

h3 {
  @extend .noselect;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 10px;
}

h4 {
  @extend .noselect;
  font-size: 12px;
  font-weight: 700;
  margin: 0 0;
}


.flex-root{
  overflow: scroll;
}

.popup-menu {
  padding: 5px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;

  &.popup-command {
    .command {
      display: block;
    }
  }
}

/* PANES */

.pane {
  padding: 0px;
  position: relative;
}

.pane.vis-pane{
  flex-grow: 1;
}

.pane .subpane {
  margin-bottom: 20px;
}

.pane .subpane:last-child {
  margin-bottom: 0px;
}

.main-panel {
  min-height: 250px;
  height: 450px;
  flex-grow: 1.5;
}

.dev-panel {
  min-height: 150px;
  height: 300px;
  flex-grow: 0.5;
  background-color: #EEE;
}

.alert-box {
  z-index: 1;
  position: absolute;
  top: 5px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 500px;
}

.alert-item {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  border-radius: 4px;
  overflow-wrap: break-word;

  a.close {
    float: right;
    color: #a94442;
    font-weight: bold;
  }
}

/* UTILITIES */

.mb5{
  margin-bottom: 5px;
}


.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.full-height {
  height: 100%;
}

.inline-label {
  display: inline-block;
  min-width: 100px;
  font-weight: bold;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.grow-1{
  flex-grow:1;
}

.hflex {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}

.vflex {
  display: flex;
  flex-direction: column;
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.no-shrink {
  flex-shrink: 0;
}

.abs-w100 {
  position: absolute;
  left: 0;
  right: 0;
}

.abs-h100 {
  position: absolute;
  top: 0;
  bottom: 0;
}

.abs-100 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.persist-scroll{
  /*
    Prevent scroll bars from being hidden for OS X.
    http://stackoverflow.com/questions/7855590/how-can-i-prevent-scroll-bars-from-being-hidden-for-os-x-trackpad-users-in-webkit
  */
  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:vertical {
    width: 11px;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
  }
}

.scroll-y{
  @extend .persist-scroll;
  overflow-y: scroll;
}

.scroll-x{
  @extend .persist-scroll;
  overflow-x: scroll;
}

.scroll-xy{
  @extend .persist-scroll;
  overflow-y: scroll;
  overflow-x: scroll;
}

.small {
  font-size: 10px;
}


/* prevent element from being selected http://stackoverflow.com/questions/826782 */
.noselect {
  user-select: none;
  cursor: default;
}

/** ICONS FOR DATA TYPES */

.icon-type{
  @extend .inline-block;
  width: 20px;
  height: 16px;
  color: transparent;
  background-position: center center;

  &.icon-small {
    width: 18px;
    height: 16px;
  }
}

.icon-type-location{
  @extend .icon-type;
  background: url("../assets/images/field_geo.png") no-repeat;
}

.icon-type-text, .icon-type-text-ordinal{
  @extend .icon-type;
  background: url("../assets/images/field_text.png") no-repeat;
}

.icon-type-number{
  @extend .icon-type;
  background: url("../assets/images/field_number.png") no-repeat;
  background-position-x: -1px;
}

.icon-type-time{
  @extend .icon-type;
  background: url("../assets/images/field_time.png") no-repeat;
  background-position-y: 1px;
  &.icon-small {
    background-position-y: 0px;
  }
}

/**** Components ****/

.controls {
  margin-right: 40px;
  margin-top: 10px;
  a {
    margin: 10px;
  }
}

.logo {
  padding: 0 20px;
  background: url("../assets/images/idl-logo.png") center no-repeat;
  display: block;
  width: 48px;
  height: 34px;
}

.drop-container {
  display:none;
}

.drop{
  display: none;
  &.drop-open {
    display: block;
  }
}

// ====== bookmarklist/bookmarklist.scss ====== 

// ====== dataset/addmyriadataset.scss ====== 
.add-myria-dataset {
  p {
    width: 300px;
  }
  button {
    margin-top: 1.5em;
    line-height: 15px;
  }
}
// ====== dataset/addurldataset.scss ====== 
.add-url-dataset {
  p {
    width: 300px;
  }
  .form-group {
    margin-top: 1em;
    label {
      width: 50px;
      display: block;
      float: left;
      text-align: right;
      font-weight: bold;
      margin-right: 10px;
    }
    input {
      width: 230px;
    }
  }
  button {
    margin-top: 1.5em;
    line-height: 15px;
  }
}

// ====== dataset/datasetselector.scss ====== 
.popup-new-dataset {
  .hflex > div {
  	margin: 0 5px;
  }
}
// ====== dataset/pastedataset.scss ====== 
.paste-data {
  .form-group {
    margin-top: 1em;
  }
  form {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    @media( min-width: 640px ) {
      width: 55%;
    }

    input {
      width: 230px;
    }
    textarea {
      width: 100%;
      min-height: 200px;
      @media( min-width: 640px ) {
        min-height: 250px;
      }
    }
  }
  label {
    width: 50px;
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 10px;
  }
  button {
    margin-top: 1.5em;
    line-height: 15px;
  }
  .upload-data {
    margin-right: 20px;
    width: 100%;
    @media( min-width: 640px ) {
      width: 40%;
      display: inline-block;
      vertical-align: top;
    }
  }
}
.dropzone {
  display: inline-block;
  vertical-align: top;

  &,
  .dropzone-target {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px dashed #aaa;
    &:hover {
      border: 1px dashed #777;
    }
  }

  .dropzone-target {
    color: #888;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    @media( min-width: 640px ) {
      padding: 50px 20px;
    }
  }
}


// ====== fieldinfo/fieldinfo.scss ====== 
$any-color: #aaa;

.field-info {
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  line-height: 18px;
  box-sizing: border-box;
  height: 20px;
  margin-bottom: 0;
  margin-right: 3px;
  padding: 1px 3px;
  font-size: 11px;
  border: 1px solid transparent;
  user-select: none;
  overflow: hidden;

  .type-caret {
    flex-shrink: 0;
  }

  .type {
    font-size: 0.8rem;
    margin-right: 3px;
    margin-right: 6px;
    flex-shrink: 0;
  }

  .icon-hash {
    margin-top: 1px;
    &:before {
      content: "#";
      padding-left: 2px;
      padding-right: 2px;
      font-family: sans-serif;
      font-size: 1rem;
    }
  }

  .field-info-text {
    display: flex;
    flex-grow: 1;
  }

  .field-func, .field-count {
    flex-shrink: 0;
    margin-right: 3px;
  }
}

.field-func, .field-count{
  text-transform: uppercase;
  font-weight: bold;

  font-size: 11px;
  &.any {
    color: $any-color;
  }
}

.field-info .field-name {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;

  &.hasfunc {
    &::before {
      content:"("
    }
    &::after {
      content:")"
    }
    &.any::before, &.any::after {
      color: $any-color;
    }
  }
}

.field-info {
  .fa.fa-caret-down, .fa.fa-times {
    flex-shrink:0;
    // visibility: hidden;
    border-radius: 3px;
    margin-top: 1px;
  }
  .fa.fa-caret-down {
    padding: 2px 3px 1px;
  }
  .fa.fa-times {
    padding: 1px 2px;
  }

  .type-caret .fa-caret-down {
    visibility:hidden;
  }

  .type-caret.active {
    color: black;
    cursor: pointer;
    .fa-caret-down {
      visibility: visible;
    }
  }

  .type-caret.active:hover .fa.fa-caret-down, .fa.fa-times:hover {
    color: white;
    background-color: #999;
  }
}

.field-info .info {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.field-info.unselected {
  border: 1px dashed #ccc;
  background-color: #fafafa;
}

.field-info.selected {
  border: 1px solid #bbb;
  background-color: #eee;
  font-weight: 500;
}

.field-info.pill {
  background-color: #eee;
  font-weight: 500;
}

.field-info.list-item {
  margin-bottom: 4px;
}

.field-info.highlighted,
.field-list-item:hover .field-info {
  border: 1px solid #FDE59A;
  background-color: #FCEF00;
  font-weight: 500;
}

.field-info.ui-draggable-dragging {
  min-width: 150px;
  width: auto;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.2);

  .info {
    display: none;
  }
}

.tooltip-content {
  max-width: 300px;
  strong {
    width: 75px;
    display: inline-block;
    text-align: right;
    margin-right: 5px;
  }
}



// ====== modal/modal.scss ====== 
.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);

  .modal-wrapper {
    margin: 50px auto;
    width: calc( 100% - 100px );
    max-height: calc( 100% - 100px );
    z-index: 1;
    overflow: scroll;
    padding: 8px;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-sizing: border-box;
  }

  .modal-close {
    position: absolute;
    top: 58px;
    right: 58px;
  }
}

// ====== tabs/tab.scss ====== 
.tab-container {
  .tab {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: -1px;
    // Top two corners rounded
    border-radius: 3px 3px 0 0;
    border: 1px solid #ddd;
    border-bottom-color: #aaa;

    &.active {
      font-weight: bold;
      border-color: #aaa;
      border-bottom: 1px solid white;
    }
  }

  .tab-contents {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 0 3px 3px 3px;
  }
}

// ====== vlplotgroup/vlplotgroup.scss ====== 

.vis-list-more, .vis-list-empty {
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align:center;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.vl-plot-group.wrapped-vl-plot-group {
  max-width: 520px;
  flex-grow: 1;
}

.vl-plot-group.row-vl-plot-group {
  max-width: 100%;


  box-sizing: border-box;
  &.selected {
    border: 3px solid #aaa;
    background: #ccc;
    .vis canvas{
      opacity: 0.85;
    }
  }
}

.vl-plot-group.full-vl-plot-group {
  max-width: 100%;
  .vl-plot-wrapper {
    max-height: none;
    .vis.fit .vega{
      margin-bottom: auto;
      margin-top: auto;
    }
  }
}

.vl-plot-group a.command{
  color: #aaa;

  &.debug {
    color: #72a386;
  }

  &.active {
    color: $link-color;
  }

  &.active:hover {
    color: $link-hover-color;
  }

  &:hover {
    color: #72C1D5;
  }

  .fa.fa-refresh.transpose {
    transform: rotateZ(135deg) scaleX(-1);
  }

  .fa.sort.sort-x {
   transform: rotateZ(270deg);
  }

  &.disabled, &.disabled:hover, &[disabled=disabled], [disabled=disabled]:hover {
    display: none;
  }

}



.vl-plot-group-header {
  margin-bottom: 5px;
  display: flex;
  .toolbox {
    flex-grow: 0;
    flex-shrink: 0;
  }
  .field-set-info {
    flex-grow: 1;
  }
}

.vl-plot-wrapper {
  min-height: 150px;
  max-height: 330px;
  min-width: 250px;
  overflow: hidden;
  text-align: center;
  display: flex;

  .vis.fit {
    width:100%;
    display: flex;
    justify-content: center;
    .vega {
      align-self: flex-end;
    }
  }

  .vis.overflow {
    //cursor: pointer;
    width: 100%;
    overflow: hidden;
    &.scroll {
      @extend .persist-scroll;
      overflow: scroll;
      /* when-scroll add negative margin equal to the scrollbar size (in index.scss) */
      margin-right: -11px;
      margin-bottom: -11px;
    }
  }
}

.dev-tool {
  width: 150px;
}

// ====== vlplot/vlplot.scss ====== 
.vis-tooltip {
  background-color: black;
  padding: 3px;
  border-radius: 3px;
  color: white;
  position: fixed;
  z-index: 2000;

  font-size: 10px;

  td.key, td.value {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  td.key {
    max-width: 100px;
    text-align: right;
    padding-right: 5px;
  }
  td.value {
    max-width: 150px;
    text-align: left;
  }
}