<div class="drop-container">
  <div class="popup-menu popup-command no-shrink dev-tool">
    <div class="command debug">
      <span class="debug">Vl</span>
      <a class="debug" ui-zeroclip zeroclip-copied="vlCopied='(Copied)'" zeroclip-model="chart.cleanSpec | compactJSON">Copy</a>
      /
      <a class="debug" ng-click="logCode('Vega-Lite', chart.cleanSpec); vlCopied='(Logged)';">Log</a>
      <span>{{vlCopied}}</span>
    </div>
    <div class="command debug">
      <span class="debug">Vg</span>
      <a class="debug" ui-zeroclip zeroclip-copied="vgCopied='(Copied)'" zeroclip-model="chart.vgSpec | compactJSON">Copy</a>
      /
      <a class="debug" ng-click="logCode('Vega', chart.vgSpec); vgCopied='(Logged)';">Log</a>
      <span>{{vgCopied}}</span>
    </div>
    <a class="command debug"
      ng-href="{{ {type:'vl', spec: chart.cleanSpec} | reportUrl }}"
      target="_blank">Report Bad Render</a>
    <a ng-click="showFeature=!showFeature" class="command debug">{{chart.score}}</a>
    <div ng-repeat="f in chart.scoreFeatures track by f.reason">
      [{{f.score}}] {{f.reason}}
    </div>
  </div>
</div>
