.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);

  .modal-wrapper {
    margin: 50px auto;
    width: calc( 100% - 100px );
    max-height: calc( 100% - 100px );
    z-index: 1;
    overflow: scroll;
    padding: 8px;
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-sizing: border-box;
  }

  .modal-close {
    position: absolute;
    top: 58px;
    right: 58px;
  }
}
