label.func-label.field-func {
  font-weight: normal;
  width: 130px; // set width to roughly half of .shelf-functions to create double columns
}

label.func-label.field-func.single-column {
  width: 260px; // set width slightly smaller than .shelf-functions to create single column
}

.expand-collapse {
  text-align: center;
  margin-bottom: -5px;
}

.function-select.wildcard {
  padding: 5px;
  background-color: #d8eaec;
  border-radius: 3px;

  // HACK to take over the outer background
  margin: -5px;
  padding: 5px;
}