.shelf-functions label.channel-prop-radio-label {
  font-weight: normal;
  width: 130px; // set width to roughly half of .shelf-functions to create double columns
}

.axis-prop-popup label.channel-prop-radio-label {
  margin-right: 5px;
}