.schema {
  margin-bottom: 10px;
}


.schema-list-drop {
  visibility: hidden;
  font-size: 11px;
  border-radius: 3px;
  border: 1px dashed #8ebdc7;

  padding: 0 0.5em;
  background-color: rgba(187,243,255,0.9);
  height: $pill-height - 2px;
  line-height: $pill-height - 2px;
  box-sizing: border-box;
  color: rgba(0,0,0,0.6);

  &.drop-active {
    visibility: visible;
  }
}

