<field-info
  class="pill list-item draggable full-width no-right-margin"
  ng-class="{any: isEnumSpec(fieldDef.field)}"
  ng-dblclick="fieldAdd(fieldDef)"

  field-def="fieldDef"
  ng-model="pill"
  data-drag="true"
  jqyoui-draggable="{placeholder: 'keep', deepCopy:  true, onStart: 'fieldDragStart', onStop:'fieldDragStop'}"
  data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"

  show-add='showAdd'
  show-caret="true"
  disable-caret="fieldDef.immutable || fieldDef.aggregate === 'count' || allowedTypes.length<=1"
  show-type="true"
  add-action="fieldAdd(fieldDef)"

  popup-content="fieldInfoPopupContent"
  >
</field-info>
<div class="drop-container">
  <div class="popup-menu schema-menu" ng-hide="allowedTypes.length<=1">
    <div class="mb5 field-type" ng-if="allowedTypes.length>1 && !isAnyField">
      <h4>Type</h4>
      <label class="type-label"
        ng-repeat="type in allowedTypes">
        <input type="radio" ng-value="type" ng-model="fieldDef.type">
        {{type}}
      </label>
    </div>
  </div>
</div>