.filter-box.categorical-filter-box {
  padding: 0 8px 0 8px;
  label {
    max-width: 70%;
  }
  .actions {
    margin-bottom: 4px;
  }

  .select-all:hover {
    color: #006bb3;
  }

  .selected-status {
    color: gray;
  }

  .keep-only {
    color: #bfbfbf;
  }
}
