<div class="categorical-filter-box filter-box">
  <div class="actions">
    <div class="right selected-status">
      ({{filter.in.length}}/{{values.length}} selected)
    </div>
    <a ng-click="selectAll()" class="select-all">Select All</a>
  </div>
  <div class="values scroll-y no-scroll-x">
    <div ng-repeat="val in values" ng-mouseenter="showKeepOnly=true" ng-mouseleave="showKeepOnly=false">
      <label>
        <input type="checkbox" ng-model="include[stringify(val)]" ng-change="filterChange()">
          {{val+''}} <!-- have to coerce to string so null appear-->
        </span>
      </label>
      <a ng-show="showKeepOnly" ng-init="showKeepOnly=false" class="right keep-only" ng-click="keepOnly(val)">Keep Only</a>
    </div>
  </div>
</div>