.filter-absolute-container {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
}

.shelf.filter-shelf {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 150px;
  background-color: white;

  .field-drop {
    flex-shrink: 0;
    border: none;
  }

  .field-info.selected {
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.filter-box {
  padding: 0 4px 4px;
  display: flex;
  flex-direction: column;
}
