.filter-absolute-container {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
}

.shelf.filter-shelf {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 150px;
  background-color: white;

  .field-drop {
    flex-shrink: 0;
    border: none;
  }

  .field-info.selected {
    border: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.filter-box {
  padding: 0 4px 4px;
  display: flex;
  flex-direction: column;
}

$filter-drop-color: hsla(215,41%,80%,1);

.filter-drop {
  font-size: 11px;
  border-radius: 3px;
  border: 1px dashed $filter-drop-color;
  color: $filter-drop-color;
  padding: 0 0.5em;
  visibility: hidden;

  &.drop-active {
    visibility: visible;
    color: $text-color;
    border: 1px dashed #4CAF50;
    background-color: #C8E6C9;
  }

}
