<div class="card abs-100">
  <a class="right"  ng-click="clear()"><i class="fa fa-eraser"></i> Clear</a>
  <h2>Encoding</h2>

  <div class="shelf-pane shelf-any-pane full-width" ng-if="supportAny">
    <h3>Flexible</h3>
    <field-def-editor
      ng-repeat="channelId in anyChannelIds"
      channel-id="channelId"
      encoding="spec.encoding"
      mark="spec.mark">
    </field-def-editor>
  </div>

  <div class="shelf-pane shelf-encoding-pane full-width">
    <h3>Positional</h3>
    <field-def-editor channel-id="'x'"
      encoding="spec.encoding"
      mark="spec.mark">
    </field-def-editor>
    <field-def-editor
      channel-id="'y'"
      encoding="spec.encoding"
      mark="spec.mark">
    </field-def-editor>
    <field-def-editor channel-id="'column'"
      encoding="spec.encoding"
      mark="spec.mark">
    >
    </field-def-editor>
    <field-def-editor channel-id="'row'"
      encoding="spec.encoding"
      mark="spec.mark">
    </field-def-editor>
  </div>
  <div class="shelf-pane shelf-marks-pane full-width">
    <div class="right">
      <select class="markselect" ng-model="spec.mark"
              ng-options="(type === ANY ? 'auto' : type) for type in (supportAny ? marksWithAny : marks)"
              ng-change="markChange()"></select>
    </div>
    <h3>Marks</h3>

    <field-def-editor channel-id="'size'"
      encoding="spec.encoding"
      mark="spec.mark">
    </field-def-editor>
    <field-def-editor channel-id="'color'"
      encoding="spec.encoding"
      mark="spec.mark">
    </field-def-editor>
    <field-def-editor channel-id="'shape'"
      encoding="spec.encoding"
      mark="spec.mark">
    </field-def-editor>
    <field-def-editor channel-id="'detail'"
      encoding="spec.encoding"
      mark="spec.mark">
    </field-def-editor>
    <field-def-editor channel-id="'text'"
      encoding="spec.encoding"
      mark="spec.mark">
    </field-def-editor>
  </div>

  <!-- TODO support filter -->

  <!-- <div class="shelf-pane shelf-config-pane full-width">
    <h3>Config</h3>
    <null-filter-directive></null-filter-directive>
  </div> -->
</div>