#bookmark-list .sv-placeholder {
  border: 4px dashed #ccd3de;
  border-radius: 4px;
  min-width: 200px;

  min-height: 200px;
  margin: 10px;
}

#bookmark-list .wrapped-vl-plot-group {
  cursor:move;
}

#bookmark-list .bookmark-list-util {
  display: inline-block;
  margin-right: 8px;
}