<modal id="bookmark-list" ng-if="Bookmarks.isSupported">
  <div class="modal-header card no-top-margin no-right-margin">
    <modal-close-button close-action="Bookmarks.logBookmarksClosed()"></modal-close-button>
    <h2 class="no-bottom-margin">Bookmarks ({{ Bookmarks.list.length }})</h2>
    <a class="bookmark-list-util" ng-click="Bookmarks.clear()"><i class="fa fa-trash-o"></i> Clear all </a>
    <a class="bookmark-list-util" ng-click="Bookmarks.export()"><i class="fa fa-clipboard"></i> Export </a>
  </div>
  <div class="flex-grow-1 scroll-y">
    <div ng-if="Bookmarks.list.length > 0"
      class="hflex flex-wrap"
      sv-root sv-part="Bookmarks.list" sv-on-sort="Bookmarks.reorder()">

      <vl-plot-group
        ng-repeat="bookmark in Bookmarks.list | orderObjectBy : 'timeAdded' : false"
        class="wrapped-vl-plot-group card"

        list-title="'Bookmark'"

        chart="bookmark.chart"
        field-set="bookmark.chart.fieldSet"

        show-filter-info="true"

        show-bookmark="true"
        show-debug="consts.debug"
        show-expand="false"

        always-selected="true"
        highlighted="highlighted"

        overflow="true"
        tooltip="true"

        priority="consts.priority.bookmark"

        show-select="true"
        sv-element>
      </vl-plot-group>
      <div sv-placeholder></div>
      <!-- FIXME: where does this field reference come from-->
    </div>
    <div class="vis-list-empty" ng-if="Bookmarks.list.length === 0">
      You have no bookmarks
    </div>
  </div>
</modal>
