<div class="vl-plot-group-list-container">
  <div class="card vis-list-header" ng-show="listTitle">
    <div><span class="description">{{listTitle}}</span>
  </div>
  <div class="vis-list hflex flex-wrap">
    <vl-plot-group
      ng-repeat="item in modelGroup.items | limitTo: limit"
      ng-init="chart = getChart(item)"
      class="wrapped-vl-plot-group card"

      chart="chart"
      is-in-list="isInList"

      enable-pills-preview="enablePillsPreview"
      field-set="chart.fieldSet"
      show-bookmark="true"
      show-debug="consts.debug && consts.debugInList"
      show-expand="true"
      show-filter-null="true"
      show-sort="true"

      overflow="true"
      tooltip="true"

      highlighted="Pills.highlighted"
      expand-action="select(chart)"
      priority="consts.priority.vislist + $index"
    >
    </vl-plot-group>
  </div>
</div>
